h2 {
    font-weight: bolder;
    color: rgb(251, 251, 251);
    padding-bottom: 20px;
}

.Contact_US_DIV {
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: url('./cont.jpg');
    border: 2px solid;
    background-size: cover;
    background-position: center;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
}

.Contact_US_DIV label{
    color: aliceblue;
    padding-bottom: 10px;
}

.btnn {
    background-color: #1b3b7c;
    color: white;
    border-radius: 0%;
    align-items: center;
}

.s{
    width: 800px;
    margin: 0 auto;
}