nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}


#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(4, 4, 4);
    transition: 0.3s ease-in-out;
    padding: 0px 5px;
}

#navbar li a:hover{
    color: #17cf97;
}

nav img{

    width: 100px;
    height: 100px;
}

