nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navabr li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease-in-out;
    padding: 0px 20px;
}

#navbar li a:hover{
    color: #17cf97;
}

.logo {
    width: 10px;
    height: 10px;
}

